<form action="/providers" method="POST">
    Logo Url: <input type="text" name="logoUrl"><br>
    Company Name: <input type="text" name="companyName"><br>
    <button type="submit">Submit</button>
</form>
