<div id="bio-container" class="container">
    <div class="quote-icon">
        <i class="fa fa-quote-left fa-5x"></i>
    </div>
    <div class="bio-info">
        <h2>Why I Do What I Do</h2>
        <p>My name is Bob Lovell. I've been in the insurance buisness for the past <b>15 years</b>. It pleases me to please you. I got into this business to give toothy throat kisses, and don't you forget it.</p>
    </div>
</div>
