<div class="footer-title-bar">
    <h3>I provide coverage from these and other companies:</h3>
</div><div class="insurance-provider-container">
    {{#each insurance_companies ~}}
        <div class="insurance-provider">
            <img src="{{this.img}}"/>
        </div>
    {{~/each}}
</div>
