<div id="request-info-container" class="container">
    <div id="man-pointing">
        <img src="/images/man-pointing.png" alt="Bob" />
    </div><div id="form-container" class="container">
        <h3>Contact Me For A Quote!</h3>
        <form action="new-clients" method="POST">
            First Name:<br>
            <input type="text" name="firstName"><br>
            Last Name:<br>
            <input type="text" name="lastName"><br>
            City:<br>
            <input type="text" name="city"><br>
            State:<br>
            <input type="text" name="state"><br>
            Phone Number:<br>
            <input type="text" name="phoneNumber"><br>
            Email:<br>
            <input type="text" name="email"><br>
            <button type="submit" name="button" id="submit">Submit</button>
        </form>
    </div>
</div>
