<h3>Request More Information</h3>

<form action="new-clients" method="POST">
    First Name: <input type="text" name="firstName"><br>
    Last Name: <input type="text" name="lastName"><br>
    City: <input type="text" name="city"><br>
    State: <input type="text" name="state"><br>
    Phone Number: <input type="text" name="phoneNumber"><br>
    Email: <input type="text" name="email"><br>
    <button type="submit" name="button">Submit</button>
</form>
