<h1>Dis dat dashberd, SON</h1>

<br>
<h2>New Clients</h2>
<div id="clients-container">

</div>
<br>

<h2>Manage insurance providers</h2>
{{> add_insurance_provider }}

<script src="javascripts/client.js"></script>
