<h1>Dis dat dashberd, SON</h1>

<br>

<h2>New Clients This Week</h2>

<div id="client-list">
  <ul id="firstName" class="client-info">
    <li>First Name</li>
  </ul>
  <ul id="lastName" class="client-info">
    <li>Last Name</li>
  </ul>
  <ul id="email" class="client-info">
    <li>Email</li>
  </ul>
  <ul id="phoneNumber" class="client-info">
    <li>Phone Number</li>
  </ul>
  <ul id="city" class="client-info">
    <li>City</li>
  </ul>
  <ul id="state" class="client-info">
    <li>State</li>
  </ul>
  <ul id="delete" class="client-info">
    <li>Delete</li>
  </ul>
</div>

<br>

<h2>Manage insurance providers</h2>
{{> add_insurance_provider }}

<script src="javascripts/clients.js">

</script>
