<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
        <h1>Lovell Insurance</h1>
        <h4>Bob Lovell | 931-252-7917 | 770 Brown Ave, Cookeville, TN 38501</h4>
        <div class="divider"></div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{>insurance_providers}}
    </footer>
  </body>
</html>
