

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F0EADD;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

header {
    background-color: #77A4D2;
}

#tree-logo {
    height: 75px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 40%;
}

header > h1, h4 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
    line-height: 75px;
    margin-left: 1%;
    text-shadow: 2px 2px #336699;

}

header > h1 {
    border-right: 2px solid #4885C2;
    padding-right: 1%;
}

.divider {
    padding: 10px;
    background: -webkit-linear-gradient(#77A4D2, #336699);
    background: -o-linear-gradient(#77A4D2, #336699);
    background: linear-gradient(#77A4D2, #336699);
}

/* Main content containers*/

main {
    position: relative;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    background-color: white;
    border-left: 2px solid #E0D4BA;
    border-right: 2px solid #E0D4BA;
}

.left, .right {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    height: 600px;
    width: 50%;
    overflow: hidden;
}

/* Bio */

#bio-container {
    position: relative;
    height: 20%;
    margin-left: 5%;
    margin-top: 2%;
}

.quote-icon {
    float: left;
    font-size: 1em;
    padding-right: 2%;
}

/* Request Info Form*/

#request-info-container {
    position: relative;
    height: 80%;
    margin-left: 2%;
    margin-top: 1%;
    vertical-align: bottom;
}

div#man-pointing {
    display: inline-block;
    width: 49%;
    vertical-align: bottom;
}

#man-pointing img {
    width: 100%;
    max-height: auto;
}

#form-container {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    border: 2px solid #000066;
    background-color: #BDD3E9;
    border-radius: 30px;
}

#form-container * {
    text-align: center;
}

#submit {
    margin: 5px;
    font-size: 1em;
    padding: 2%;
}

/* Right */

.product {
    height: 30%;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

div.product span {
    position: absolute;
    top: 25%;
    height: 100%;
    font-size: 1.5em;
    color: black;
}

.fa-home {
    color: #97FF97;
}

.fa-home:hover {
    color: #008000;
}

.fa-heartbeat {
    color: #FF9999;
}

.fa-heartbeat:hover {
    color: #FF0000;
}

.fa-life-ring {
    color: #A1A1A1;
}

.fa-life-ring:hover {
    color: #000000;
}

/* Footer */
/* Insurance Providers Logos*/

footer {
    background: repeating-linear-gradient(
      135deg,
      #FFFFFF,
      #FFFFFF 2px,
      #D4E3F1 2px,
      #D4E3F1 4px
    );
    padding-bottom: 5%;
}

.footer-title-bar {
    color: white;
    text-shadow: 2px 2px #336699;
    background: -webkit-linear-gradient(#77A4D2, #336699);
    background: -o-linear-gradient(#77A4D2, #336699);
    background: linear-gradient(#77A4D2, #336699);
}

.footer-title-bar h3 {
    margin-left: 1%;
}

.insurance-provider {
    display: inline-block;
    min-width: 125px;
    width: 10%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.insurance-provider img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 1380px) {
    main {
        border: none;
        width: 100%;
    }

    #man-pointing {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #form-container {
        position: absolute;
        top: 50px;
        right: 0;
        margin-left: 2%;
        width: 49%;
    }

}

@media (max-width: 1121px) {

    .left, .right {
        display: block;
        width: 100%;
    }
    #man-pointing, #form-container {
        position: relative;
        display: inline-block;
        width: 45%;
        margin: 0;
    }

    #request-info-container {
        height: auto;
    }

    #man-pointing > img {
        height: 100%;
        max-width: 100%;;
    }

}
