

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F0EADD;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

header {
    background-color: #77A4D2;
}

#tree-logo {
    height: 75px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 40%;
}

header > h1, h4 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
    line-height: 75px;
    margin-left: 1%;
    text-shadow: 2px 2px #336699;

}

header > h1 {
    border-right: 2px solid #4885C2;
    padding-right: 1%;
}

.divider {
    padding: 10px;
    background: -webkit-linear-gradient(#77A4D2, #336699);
    background: -o-linear-gradient(#77A4D2, #336699);
    background: linear-gradient(#77A4D2, #336699);
}

/* Main content containers*/

main {
    position: relative;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    background-color: white;
}

.left, .right {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 50%;
    height: 670px;
    overflow: hidden;
}

/* Bio */

#bio-container {
    position: relative;
    width: 300px;
    height: 200px;
    margin-left: 25%;
    text-align: center;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

#bio-container:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 200px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
}

#bio-container:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 200px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}

/* Request Info Form*/

#request-info-container {
    position: relative;
    margin-left: 2%;
    margin-top: 1%;
}

#request-info-container div {
    display: inline-block;
}

#man-pointing {
    height: 450px;
    width: auto;
}

#form-container {
    margin-left: 5%;
    margin-top: 1%;
    position: absolute;
    top: 1em;
    padding: 10px 50px 10px 50px;
    border: 2px solid #000066;
    background-color: #BDD3E9;
    border-radius: 30px;
}

#form-container * {
    text-align: center;
}

/* Right */

.product {
    height: 30%;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

div.product span {
    position: absolute;
    top: 25%;
    height: 100%;
    font-size: 1.5em;
}

.fa-home {
    color: green;
}

.fa-heartbeat {
    color: red;
}

.fa-life-ring {
    color: black;
}

/* Footer */
/* Insurance Providers Logos*/

footer {
    background: repeating-linear-gradient(
      135deg,
      #FFFFFF,
      #FFFFFF 2px,
      #D4E3F1 2px,
      #D4E3F1 4px
    );
}

.footer-title-bar {
    color: white;
    text-shadow: 2px 2px #336699;
    background: -webkit-linear-gradient(#77A4D2, #336699);
    background: -o-linear-gradient(#77A4D2, #336699);
    background: linear-gradient(#77A4D2, #336699);
}

.insurance-provider {
    display: inline-block;
    min-width: 125px;
    width: 10%;
    padding: 1%;
}

.insurance-provider img {
    max-width: 100%;
    max-height: 100%;
}
