

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F0EADD;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

header {
    background-color: #77A4D2;
}

#tree-logo {
    height: 75px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 40%;
}

header > h1, h4 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
    line-height: 75px;
    margin-left: 1%;
    text-shadow: 2px 2px #336699;

}

header > h1 {
    border-right: 2px solid #4885C2;
    padding-right: 1%;
}

.divider {
    padding: 10px;
    background: -webkit-linear-gradient(#77A4D2, #336699);
    background: -o-linear-gradient(#77A4D2, #336699);
    background: linear-gradient(#77A4D2, #336699);
}

/* Main content containers*/

main {
    position: relative;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    background-color: white;
    border-left: 2px solid #E0D4BA;
    border-right: 2px solid #E0D4BA;
}

.left, .right {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    height: 600px;
    width: 50%;
    overflow: hidden;
}

/* Bio */

#bio-container {
    position: relative;
    height: 20%;
    margin-left: 5%;
    margin-top: 2%;
}

.quote-icon {
    float: left;
    font-size: 1em;
    padding-right: 2%;
}

/* Request Info Form*/

#request-info-container {
    position: relative;
    height: 80%;
    margin-left: 2%;
    margin-top: 1%;
    vertical-align: bottom;
}

div#man-pointing {
    display: inline-block;
    width: 49%;
    vertical-align: bottom;
}

#man-pointing img {
    width: 100%;
    max-height: auto;
}

#form-container {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    border: 2px solid #000066;
    background-color: #BDD3E9;
    border-radius: 30px;
}

#form-container * {
    text-align: center;
}

#submit {
    margin: 5px;
    font-size: 1em;
    padding: 2%;
}

/* Right */

.product {
    height: 33%;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: height .5s ease, top 1s ease;
	-moz-transition: height .5s ease, top 1s ease;
	-o-transition: height .5s ease, top 1s ease;
	transition: height .5s ease, top 1s ease;
}

.product-remain {
    height: 100%;
}

.product-fade-out {
    z-index: 1000;
    position: absolute;
    top: -1000px;
    height: 0;
    visibility: hidden;
    position: absolute;
}

.product-title {
    font-size: 2em;
}

.fa-home {
    z-index: 1000;
    color: #33CC33;
    text-shadow: 2px 2px 2px black;
}

.fa-home:hover {
    color:#29A329;
}

.fa-heartbeat {
    z-index: 1000;
    color: #FF4D4D;
    text-shadow: 2px 2px 2px black;
}

.fa-heartbeat:hover {
    color: #FF0000;
}

.fa-life-ring {
    z-index: 1000;
    color: #515151;
    text-shadow: 2px 2px 2px black;

}

.fa-life-ring:hover {
    color: #000000;
}

.product-info {
    opacity: 0;
    height: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.product-info-trans {
    opacity: 1;
    height: auto;
}

/* Footer */
/* Insurance Providers Logos*/

footer {
    background: repeating-linear-gradient(
      135deg,
      #FFFFFF,
      #FFFFFF 2px,
      #D4E3F1 2px,
      #D4E3F1 4px
    );
    padding-bottom: 5%;
}

.footer-title-bar {
    color: white;
    text-shadow: 2px 2px #336699;
    background: -webkit-linear-gradient(#77A4D2, #336699);
    background: -o-linear-gradient(#77A4D2, #336699);
    background: linear-gradient(#77A4D2, #336699);
}

.footer-title-bar h3 {
    margin-left: 1%;
}

.insurance-provider {
    display: inline-block;
    min-width: 125px;
    width: 10%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.insurance-provider img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 1380px) {
    main {
        border: none;
        width: 100%;
    }

    #man-pointing {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #form-container {
        position: absolute;
        top: 50px;
        right: 0;
        margin-left: 2%;
        width: 49%;
    }

}

@media (max-width: 1121px) {

    .left, .right {
        display: block;
        width: 100%;
        margin: 0;
    }

    .left {
        height: 520px;
        border-bottom: 8px solid #336699;
    }

    .right {
        background-color: white;
        height: auto;
        border-top: 3px solid #BDD3E9;
        border-bottom: 3px solid #336699;
    }

    #form-container {
        margin-bottom: 1%;
    }

    .product {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
        width: 32%;
        display: inline-block;
        vertical-align: top;
    }

    .product-title {
        font-size: 1.5em;
    }

    .product-visible {
        display: block;
        width: 100%;
    }

    .product-info-display {
        display: inline-block;
        width: 80%;
    }

    #man-pointing, #form-container {
        position: relative;
        display: inline-block;
        width: 45%;
        margin: 0;
    }

    #request-info-container {
        height: auto;
    }

    #man-pointing {
        overflow: hidden;
    }

    #man-pointing > img {
        height: 100%;
        max-width: 100%;;
    }

}

@media (max-width: 800px) {

    header {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    header * {
        line-height: 125%;
    }

    header > h1 {
        border: none;
    }
}

/*next break point*/
@media (max-width: 590px) {
    main {
        height: auto;
        overflow: hidden;
        margin: 0;
    }

    .left {
        margin: 0;
    }

    #bio-container {
        height: auto;
    }

    #request-info-container {
        position: relative;
        height: auto;
        display: block;
        margin: 0;
    }

    #man-pointing {
        display: none;
    }

    #man-pointing img {
        display: none;
    }

    #form-container {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        vertical-align: top;
        position: relative;
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .product {
        display: block;
        width: 93%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }

    .icon-container {
        display: inline-block;
    }

    .product-info {
        display: inline-block;
        text-align: justify;
        opacity: 1;
    }
  }

.client-info {
  display: inline-block;
  width: 12%;
}











}
